{% extends 'base.html' %}

{% block content %}
{% include "header.html" %}
<div class="row intro">
    <h1>Welcome to Rotten Eggs, a site where you're the critic!</h1>
    <h4>Build a catalog of the movies you have seen and tell the world what you think about them.</h4>
</div>

<div class="row">
    {% include 'sidebar.html' %}

    <div class="container col-sm-9">
        {% if not movies and not session['username'] %}
            <p class="error">There are no movies in your catalog. Please <a href="{{url_for('showLogin')}}">login</a> and add movies</p>
        {% elif not movies and session['username'] %}
            <p class="error">There are no movies in your catalog. Please <a href="{{url_for('search')}}">add a movie</a> to start your catalog.</p>
        {% endif %}
        {% include 'movieList.html' %}
</div>
    {% endblock %}
