{% extends 'base.html' %}

{% block content %}
{% include "header.html" %}

<!-- form validation-->
<script>
    function validateForm() {
      var x = document.forms["search"]["query"].value;
      console.log(x);
      if (x == null || x == "") {
          alert("Please enter something to search");
          return false;
      }
    }
</script>

<div class="container">
    <div class="search">
        <p>This page allows you to search TheMovieDB.org for your favorite movies to add to your collection.</p>
        <form id="search" action="{{ url_for('search') }}" method="POST" role="search" onsubmit="return validateForm()">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Search">
                    </span>
                    <input type="text" class="form-control" name="query" placeholder="Search for...">
                    </div>
                </div>
            </div>
		</form>
        </br>
        <p>Want to add your movie manually? Click <a href="{{url_for('newMovie')}}">here.</a>
    </div>
</div>
{% endblock %}